<header>
  <div class="message-container">
    <p class="message">Livraison offerte a partir de 100€</p>
  </div>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-custom fixed-top mask-custom shadow-0" [ngClass]="{'navbar-scrolled': isNavbarScrolled}">
    <div class="container">
      <a class="navbar-brand" href="#!">
        <img src="../assets/Logo-Vrunk-Signature-Noir.png" alt="Your Logo" />
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" href="#!">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">Vetements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">Accessoires</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#!">Cartes Cadeaux</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-" type="search" placeholder="Rechercher" aria-label="Rechercher">
          <button class="fas fa-search" type="submit"></button>
        </form>
        <ul class="navbar-nav d-flex flex-row">
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#!">
              <i class="fas fa-shopping-cart"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#!">
              <i class="fab fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#!">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->
</header>
