<!-- home.components.html -->
<app-carousel-banniere></app-carousel-banniere>
<div class="homepage">
  <div class="row">
    <div class="col-md-6">
      <!-- Texte et boutons -->
      <h1>Nos Collection</h1>
      <p>Découvre les Collections Vrunk'ance</p>
      <div class="buttons">
        <button class="btn btn-primary">Button 1</button>
        <button class="btn btn-secondary">Button 2</button>
      </div>
    </div>
    <div class="col-md-6">
      <!-- Image -->
      <img
        src="../assets/logoVrunk.png"
        alt="Description of Image"
        class="img-fluid"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <!-- Image -->
      <img
        src="../assets/logoVrunk.png"
        alt="Description of Image"
        class="img-fluid"
      />
    </div>
    <div class="col-md-6">
      <!-- Texte et boutons -->
      <h1>Nos Collection</h1>
      <p>Découvre les Collections Vrunk'ance</p>
      <div class="buttons">
        <button class="btn btn-primary">Button 1</button>
        <button class="btn btn-secondary">Button 2</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <!-- Texte et boutons -->
      <h1>Nos Collection</h1>
      <p>Découvre les Collections Vrunk'ance</p>
      <div class="buttons">
        <button class="btn btn-primary">Button 1</button>
        <button class="btn btn-secondary">Button 2</button>
      </div>
    </div>
    <div class="col-md-6">
      <!-- Image -->
      <img
        src="../assets/logoVrunk.png"
        alt="Description of Image"
        class="img-fluid"
      />
    </div>
  </div>
</div>
