<body>
  <footer class="footer-02">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10 col-lg-6">
          <div class="subscribe mb-5">
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input
                  type="text"
                  class="form-control rounded-left"
                  placeholder="E-mail"
                />
                <input
                  type="submit"
                  value="Abonne-toi"
                  class="form-control submit px-3"
                />
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-lg-5">
          <div class="row">
            <div class="col-md-12 col-lg-8 mb-md-0 mb-4">
              <h2 class="footer-heading"><a href="#" class="logo">Vrunk</a></h2>
              <p>Une marque authentique, c'est réel.</p>
              <a href="#"
                >en savoir plus sur nous
                <span class="ion-ios-arrow-round-forward"></span
              ></a>
            </div>
          </div>
        </div>
        <div class="col-md-8 col-lg-7">
          <div class="row">
            <div class="col-md-3 mb-md-0 mb-4 border-left">
              <h2 class="footer-heading">Découvre</h2>
              <ul class="list-unstyled">
                <li>
                  <a href="#" class="py-1 d-block">Conditions Générales</a>
                </li>
                <li><a href="#" class="py-1 d-block">Mentions Légales</a></li>
                <li><a href="#" class="py-1 d-block">Contact</a></li>
                <li>
                  <a href="#" class="py-1 d-block">Conditions d'utilisation</a>
                </li>
              </ul>
            </div>
            <div class="col-md-3 mb-md-0 mb-4 border-left">
              <h2 class="footer-heading">A propos de</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-1 d-block">Remboursement</a></li>
                <li><a href="#" class="py-1 d-block">App & mobile</a></li>
                <li><a href="#" class="py-1 d-block">FAQ</a></li>
                <li><a href="#" class="py-1 d-block">Blog</a></li>
              </ul>
            </div>
            <div class="col-md-3 mb-md-0 mb-4 border-left">
              <h2 class="footer-heading">plus de Vrunk</h2>
              <ul class="list-unstyled">
                <li><a href="#" class="py-1 d-block">Security</a></li>
                <li><a href="#" class="py-1 d-block">Global</a></li>
                <li><a href="#" class="py-1 d-block">Charts</a></li>
                <li><a href="#" class="py-1 d-block">Privacy</a></li>
              </ul>
            </div>
            <div class="mb-4 justify-content-center">
              <a
                class="btn btn-outline btn-floating m-1 text-reset"
                href="#!"
                role="button"
              >
                <i class="fab fa-facebook-f"></i>
              </a>
              <a
                class="btn btn-outline btn-floating m-1 text-reset"
                href="#!"
                role="button"
              >
                <i class="fab fa-twitter"></i>
              </a>
              <a
                class="btn btn-outline btn-floating m-1 text-reset"
                href="#!"
                role="button"
              >
                <i class="fab fa-google"></i>
              </a>
              <a
                class="btn btn-outline btn-floating m-1 text-reset"
                href="#!"
                role="button"
              >
                <i class="fab fa-instagram"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-md-6 col-lg-8">
          <p class="copyright">
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script>
            All rights reserved
            <i class="ion-ios-heart" aria-hidden="true"></i> by
            <a href="https://colorlib.com" target="_blank">Vrunk.com</a>
          </p>
        </div>
        <div class="col-md-6 col-lg-4 text-md-right">
          <p class="mb-0 list-unstyled">
            <a class="mr-md-3" href="#">Terms</a>
            <a class="mr-md-3" href="#">Privacy</a>
            <a class="mr-md-3" href="#">Compliances</a>
          </p>
        </div>
      </div>
    </div>
  </footer>
  <script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
  <script
    defer
    src="https://static.cloudflareinsights.com/beacon.min.js/v84a3a4012de94ce1a686ba8c167c359c1696973893317"
    integrity="sha512-euoFGowhlaLqXsPWQ48qSkBSCFs3DPRyiwVu3FjR96cMPx+Fr+gpWRhIafcHwqwCqWS42RZhIudOvEI+Ckf6MA=="
    data-cf-beacon='{"rayId":"84e3377c29460151","version":"2024.1.0","token":"cd0b4b3a733644fc843ef0b185f98241"}'
    crossorigin="anonymous"
  ></script>
</body>
